<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
        <link rel="stylesheet" href="/style.css">
        <link rel="shortcut icon" href="/foodfyfavicon.ico" type="image/x-icon">
        <title>Foodfy</title>
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/"><img src="/logo.png" alt="Logo"></a>
                <a href="/sobre">Sobre</a>
                <a href="/receitas">Receitas</a>
            </div>
        </header>

        <div class="box">
            <div class="box_content">
                <div class="box_text">
                    <h1>As melhores receitas</h1>
                    <h2>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</h2>
                </div>
                <div class="box_chef">
                    <img src="/chef.png" alt="Chef do foodfy">
                </div>
            </div>
        </div>

        <div class="cards_title">
            <h1>Mais acessados</h1>
        </div>

        <div class="cards">
            <div class="card" id="burger">
                <div class="card_image">
                    <img src="/burger.png" alt="Triplo burger bacon">
                </div>
                <div class="card_content">
                    <h2>Triplo Bacon Burger</h2>
                    <h3>por Jorge Relato</h3>
                </div>
            </div>

            <div class="card" id="pizza">
                <div class="card_image">
                    <img src="/pizza.png" alt="Pizza 4 estações">
                </div>
                <div class="card_content">
                    <h2>Pizza 4 estações</h2>
                    <h3>por Fabiana Melo</h3>
                </div>
            </div>

            <div class="card" id="espaguete">
                <div class="card_image">
                    <img src="/espaguete.png" alt="Espaguete ao alho">
                </div>
                <div class="card_content">
                    <h2>Espaguete ao alho</h2>
                    <h3>por Júlia Kinoto</h3>
                </div>
            </div>

            <div class="card" id="lasanha">
                <div class="card_image">
                    <img src="/lasanha.png" alt="Lasanha mac n' cheese">
                </div>
                <div class="card_content">
                    <h2>Lasanha mac n' cheese</h2>
                    <h3>por Juliano Vieira</h3>
                </div>
            </div>

            <div class="card" id="doce">
                <div class="card_image">
                    <img src="/doce.png" alt="Docinhos pão do céu">
                </div>
                <div class="card_content">
                    <h2>Docinhos pão do céu</h2>
                    <h3>por Ricardo Golvea</h3>
                </div>
            </div>

            <div class="card" id="asinhas">
                <div class="card_image">
                    <img src="/asinhas.png" alt="Asinhas de frango barbecue">
                </div>
                <div class="card_content">
                    <h2>Asinhas de frango barbecue</h2>
                    <h3>por Vania Steroski</h3>
                </div>
            </div>
        </div>
        
        <div class="modal-overlay">
            <div class="modal">
                <img src="" alt="">
                <h1></h1>
                <h2></h2>
                <a class="close-modal">Fechar modal</a>
            </div>
        </div>
        <script src="/scripts.js"></script>

        <div class="footer">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>
    </body>
</html>