@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-font: #111111;
    --color-fontblur: #000000;
    --color-pink: #FBDFDB;
    --color-grayfooter: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 63.695px;
    width: 940px;
    margin: 0 auto;
    
}
header .links {
    margin: 29.305px auto;
}
.links a img {
    margin: auto 92.4px auto 0;
    height: 26.9px;
    width: 90.6px;
}
header a {
    text-decoration: none;
    margin-right: 30px;
    font-size: 18px;
    line-height: 26px;
    color: var(--color-font);
}
header a:hover {
    color: var(--color-pink);
    transition: 200ms;
}

.box {
    background-color: pink;
    height: 366px;
    width: 940px;
    border-radius: 30px;
    margin: 0 auto;
}
.box_content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.box_content h1 {
    height: 38px;
    width: 305px;
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
    margin: 117px auto auto 60px;
}
.box_content h2 {
    height: 84px;
    width: 316px;
    font-size: 17.5px;
    line-height: 27px;
    margin: 10px auto auto 60px;
    color: var(--color-fontblur);
    opacity: 0.65;
}
.box_content img {
    height: 300px;
    width: 216px;
    margin: 66px auto auto 154px;
}

.cards_title {
    margin: 50px auto 30px auto;
    width: 940px;
}
.cards_title h1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

.cards {
    margin: 0 auto 50px auto;
    width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 20px;
}
.card {
    cursor: pointer;
}
.card_image img{
    border-radius: 15px;
    margin-bottom: 20px;
    width: 300px;
    height: 140px;
}
.card_content h2{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
}

.card_content h3{
    font-size: 14px;
    line-height: 16px;
    opacity: 0.7;
}

.footer {
    height: 62px;
    width: 100%;
    margin: 0 auto auto auto;
    text-align: center;
    background-color: var(--color-grayfooter);
}
.footer p {
    font-size: 14px;
    line-height: 16px;
    margin: 10px auto auto auto;
    opacity: 0.7;
    padding-top: 23px;
}

.wrapper {
    height: 918px;
    width: 940px;
    margin: 0 auto auto;
}
.about_foodfy h1 {
    font-size: 24px;
    line-height: 28px;
    margin: 20px 0px;
}
.about_foodfy h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 20px 0px;
}
.about_foodfy p {
    font-size: 18px;
    line-height: 28px;
    margin: 20px 0px 30px;
    opacity: 0.7;
}

/* RECIPE PAGE */   
.opener_img {
    height: 320px;
    text-align: center;
}
.opener_img img {
    height: 280px;
    width: 940px;
    border-radius: 15px;
}

.recipe {
    margin: 0 auto 50px auto;
    width: 940px;
}

.title_recipe h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
}
.title_recipe p {
    color: #777777;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
}

.box_flexive {
    margin-top: 50px;
}
.box_menu {
    font-size: 23px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}
.box_menu button {
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    color: #777777;
    cursor: pointer;
}
.box_topics {
    margin-top: 20px;
    margin-bottom: 39px;
    font-size: 18px;
    line-height: 26px;
    color: #777777;
}
.box_hidden {
    display: none;
}